body {
    font-family: 'NanumSquareRoundOTF', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFFFFF;
}

.container {
    text-align: center;
}

.logo {
    width: 711px;
    height: 223px;
    margin-bottom: 122px;
}

.button {
    width: 408px;
    height: 83px;
    margin: 0 62.5px;
    border-radius: 15px;
    font-family: 'NanumSquareRoundOTF', sans-serif;
    background-color: #77E5F4;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
