body {
    font-family: 'NanumSquareRoundOTF', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFFFFF;
}

.logo {
    position: absolute;
    top: 11px;
    left: 25px;
    width: 253px;
    height: 69.53px;
    cursor: pointer;
}

.menu-container {
    position: absolute;
    top: 38px;
    right: 30px;
    display: flex;
    align-items: right;
}

.menu-text {
    font-size: 30px;
    font-weight: bold;
    color: #5B5B5B;
    margin-right: 80px;
    position: relative;
    cursor: pointer;
}

.container {
    text-align: center;
}

.image {
    width: 652px;
    height: 125px;
    top: 286px;
    margin-bottom: 101px;
    margin-left: 10px;
}

.button {
    width: 523px;
    height: 135px;
    margin: 0 62.5px;
    border-radius: 15px;
    background-color: #77E5F4;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #6cd6ff;
}

.button:active {
    background-color: #4baed9;
}
